################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
 
/HotelReception/.vs
/HotelReception/.vs/HotelReception/v16
/HotelReception.Business/bin
/HotelReception.Business/obj
/HotelReception.Common/bin
/HotelReception.Common/obj
/HotelReception.App/obj
/HotelReception.App/bin
/HotelReception.DataStorage/obj
/HotelReception.DataStorage/bin
/HotelReception.ViewModel/obj
/HotelReception.ViewModel/bin
